// Variables

// Typography
$font-heading-main: "Antonio", sans-serif;
$font-heading-sub: "League Spartan", sans-serif;

// Pallete
$white: #fff;
$purple-dark: #070724;
$purple-grey: #38384f;
$grey: #838391;

$blue-pale: #419ebb;
$yellow: #eda249;
$purple: #6f2ed6;
$orange-dark: #d14c32;

$tomato: #d83a34;
$orange-strong: #cd5120;
$aqua: #1ec2a4;
$blue-strong: #2d68f0;

$hover: #d8d8d8;
